* {
    --light-red: rgb(255, 127, 127);
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

#content {
    text-align: center;
    background-color: var(--light-red);
}

.header-item {
    cursor: pointer;
    padding: 10px;
}

.currentTab {
    background-color: var(--light-red);
    padding: 10px 20px;
}